{% model_form 'contact_form', success: '/', error: '/contact_form', recaptcha: false, json: false %}

{% if contact_form.errors %}
%p The following errors occured:
%ul
  {% for error in contact_form.errors %}
  %li {{error[0] | capitalize}} -  {{error[1]}}
  {% endfor %}
{% endif %}

%table
  %tr
    %td Name:
    %td
      %input(name="content[name]" type="text" value="{{contact_form.name}}")
  %tr
    %td Phone Number:
    %td
      %input(name="content[phone]" type="text" value="{{contact_form.phone}}")
  %tr
    %td Email:
    %td
      %input(name="content[email]" type="text" value="{{contact_form.email}}")
  %tr
    %td Message:
    %td
      %textarea(name="content[message]") {{contact_form.message}}

%input{type: "submit"}

{% endmodel_form %}
