.gtco-services.gtco-section
  .gtco-container
    .row.row-pb-sm
      .col-md-8.col-md-offset-2.gtco-heading.text-center
        {% editable_text intro %}{% endeditable_text  %}
    .row.row-pb-md
      .col-md-4.col-sm-4.service-wrap
        .service
          {% editable_text service_1 %}{% endeditable_text %}
      .col-md-4.col-sm-4.service-wrap
        .service.animate-change
          {% editable_text service_2 %}{% endeditable_text %}
      .col-md-4.col-sm-4.service-wrap
        .service
          {% editable_text service_3 %}{% endeditable_text %}
      .clearfix.visible-md-block.visible-sm-block
