.gtco-section.gtco-testimonial.gtco-gray
  .gtco-container
    .row.row-pb-sm
      .col-md-8.col-md-offset-2.gtco-heading.text-center
        {% editable_text intro %}{% endeditable_text %}
    .row
      .col-md-6.col-sm-6.animate-box
        .gtco-testimony.gtco-left
          %div{:style => "color: rgba(254, 255, 255, 0);"}
            {% editable_text picture_1 %}{% endeditable_text %}
          %blockquote
            {% editable_text testi_1 %}{% endeditable_text %}
      .col-md-6.col-sm-6.animate-box
        .gtco-testimony.gtco-left
          %div{:style => "color: rgba(254, 255, 255, 0);"}
            {% editable_text picture_2 %}{% endeditable_text %}
          %blockquote
            {% editable_text testi_2 %}{% endeditable_text %}
    .row
      .col-md-6.col-sm-6.animate-box
        .gtco-testimony.gtco-left
          %div{:style => "color: rgba(254, 255, 255, 0);"}
            {% editable_text picture_3 %}{% endeditable_text %}
          %blockquote
            {% editable_text testi_3 %}{% endeditable_text %}
      .col-md-6.col-sm-6.animate-box
        .gtco-testimony.gtco-left
          %div{:style => "color: rgba(254, 255, 255, 0);"}
            {% editable_text picture_4 %}{% endeditable_text %}
          %blockquote
            {% editable_text testi_4 %}{% endeditable_text %}
