%header#gtco-header.gtco-cover{:role => "banner"}
  .gtco-container
    .row
      .col-md-12.col-md-offset-0.text-left
        .display-t
          .display-tc
            .row
              .col-md-5.text-center.header-img.animate-box{:style => "color: rgba(254, 255, 255, 0);"}
                {% editable_text logo %}{% endeditable_text %}
              .col-md-7.copy.animate-box
                {% editable_text intro %}{% endeditable_text %}
