.gtco-client
  .gtco-container{:style => "color: rgba(254, 255, 255, 0);"}
    .row
      .col-md-2.col-md-offset-1.text-center.client.col-sm-6.col-xs-6.col-xs-offset-0.col-sm-offset-0
        {% editable_text client_1 %}{% endeditable_text %}
      .col-md-2.text-center.client.col-sm-6.col-xs-6.col-xs-offset-0.col-sm-offset-0
        {% editable_text client_2 %}{% endeditable_text %}
      .col-md-2.text-center.client.col-sm-6.col-xs-6.col-xs-offset-0.col-sm-offset-0
        {% editable_text client_3 %}{% endeditable_text %}
      .col-md-2.text-center.client.col-sm-6.col-xs-6.col-xs-offset-0.col-sm-offset-0
        {% editable_text client_4 %}{% endeditable_text %}
      .col-md-2.text-center.client.col-sm-6.col-xs-6.col-xs-offset-0.col-sm-offset-0
        {% editable_text client_5 %}{% endeditable_text %}
