<div class="js-sticky">
  <div class="fh5co-main-nav">
    <div class="container-fluid">
      <div class="fh5co-logo">
        <a href="#">foodee</a>
      </div>
      <div class="fh5co-menu-1">
        <a href="#" data-nav-section="drinks">Drinks</a>
        <a href="#" data-nav-section="vegetables">Vegetables</a>
        <a href="#" data-nav-section="starters">Starters</a>
        <a href="#" data-nav-section="seafoods">Seafoods</a>
      </div>
      <div class="fh5co-menu-2">
        <a href="#" data-nav-section="fishes">Fishes</a>
        <a href="#" data-nav-section="meats">Meats</a>
        <a href="#" data-nav-section="desserts">Desserts</a>
      </div>
    </div>
  </div>
</div>