<div class="navbar-end">
  <a href="#" class="navbar-item is-secondary"> Features </a>
  <a href="#" class="navbar-item is-secondary"> Pricing </a>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link"> Dropdown </a>
    <div class="navbar-dropdown">
      <a class="navbar-item"> Dropdown item </a>
      <a class="navbar-item"> Dropdown item </a>
      <a class="navbar-item"> Dropdown item </a>
    </div>
  </div>
  <a href="#" class="navbar-item is-secondary modal-trigger" data-modal="auth-modal"> Log in </a>
  <a class="navbar-item">
    <span class="button signup-button rounded secondary-btn raised"> Sign up </span>
  </a>
</div>