%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{charset: "utf-8"}
%meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
%meta{content: "width=device-width, initial-scale=1", name: "viewport"}

-# title, site.keywords, site.description, page.meta_keywords, page.meta_description, content_entry.meta_keywords, content_entry.meta_description
{% seo %}

{{ 'shared/app' | stylesheet_tag }}
{{ 'shared/app' | javascript_tag }}
