%meta{charset: "utf-8"}
%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
%meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}

%link{href: "{{ 'favicon.png' | theme_image_url }}", rel: "shortcut icon"}

-# title, site.keywords, site.description, page.meta_keywords, page.meta_description, content_entry.meta_keywords, content_entry.meta_description
{% seo %}

{{ 'shared/app' | stylesheet_tag }}
{{ 'shared/app' | javascript_tag }}
