---
{
  "name": "Bootstrap Thumbnail Gallery",
  "icon": "default",
  "keep_icon": true,
  "keep_label": true,
  "settings": [
  ],
  "blocks": [
  ],
  "default": {
    "settings": {},
    "blocks": [
    ]
  },
  "dropzone_presets": [
    {
      "name": "Bootstrap Album",
      "category": "Bootstrap",
      "settings": {},
      "blocks": [
      ]
    }
  ]
}
---

{% assign default_image = 'samples/cat.png' | theme_image_url %}

.row.text-center.text-lg-left
  {% for product in contents.products %}
  .col-lg-3.col-md-4.col-6
    %a.d-block.mb-4.h-100{:href => "#"}
      %img.img-fluid.img-thumbnail{:alt => "", :src => "{{ product.image.url | default: default_image }}"}
  {% endfor %}
