---
title: Page Not Found
published: true
---
{% extends 'layouts/default' %}

{% block main %}
.container
  .jumbotron
    %h1.text-danger Arrggggh, page not found
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
{% endblock %}
