---
title: Contact Form
handle: contact
listed: true
published: true
position: 999
---
{% extends layouts/default %}

{% block main, short_name: true %}
.container
  %h1 Contact

  {% editable_text instructions, rows: 4 %}
  %p Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!
  {% endeditable_text %}

  {% include contact-form %}
{% endblock %}
