---
title: Home
listed: true
published: true
handle: home
---
{% extends 'layouts/default' %}

{% block main %}
.container
  %h1.underline Site Templates

  %ul.navbar-nav.ml-auto
    {% with_scope depth: 1, listed: true %}
    {% for p in site.pages %}
    {% if page == p %}
    {% assign active_class = "active" %}
    {% else %}
    {% assign active_class = "" %}
    {% endif %}
    %li.nav-item(class="{{active_class}}")
      %a.nav-link{:href => "{{p.fullpath}}"} {{ p.title }}
    {% endfor %}
    {% endwith_scope %}
{% endblock %}
