---
title: Home
handle: home
listed: true
published: true
position: -999
---
{% extends 'layouts/default' %}

{% block main %}
<div class="container text-center">
  <h1 class="text-underline mt-5 mb-4">Website Templates</h1>

  {% with_scope depth: 1, listed: true %}
    {% assign sorted_pages = site.pages | sort: 'title' %}
    {% for p in sorted_pages %}
      <div class="mt-3">
        <a class="btn btn-dark" href="{{ p.slug }}">{{ p.title }}</a>
      </div>
    {% endfor %}
  {% endwith_scope %}
  <div class="mt-5"></div>
</div>
{% endblock %}
