---
title: Default Layout
is_layout: true
slug: default
---

%html{lang: "en"}
  %head
    {% include 'shared_head' %}
    {% include 'css-framework' with type: 'bootstrap', version: '4.3.1' bootswatch_theme: nil %}

    {{ 'main/app' | stylesheet_tag }}
    {% include 'icons' with type: 'font-awesome-5' %}

    {{ 'main/app' | javascript_tag }}

    {% block head %}{% endblock %}

  %body(class="d-flex flex-column {{ page.handle }} {{ body_class }}")
    {% block body_top %}{% endblock %}

    {% block loader %}
    {% include 'loader' %}
    {% endblock %}

    {% block left_sidebar %}
    {% include 'left_sidebar' %}
    {% endblock %}

    {% block right_sidebar %}
    {% include 'right_sidebar' %}
    {% endblock %}

    {% block top_nav %}
    {% include 'top_nav' %}
    {% endblock %}

    #page-content.flex-shrink-0
      {% block flash_notice %}
      {% include 'flash_notice' %}
      {% endblock %}

      {% block main %}{% endblock %}
    
    {% block footer %}
    {% include 'footer' %}
    {% endblock %}

    {% block bottom_nav %}
    {% include 'bottom_nav' %}
    {% endblock %}

    {% block body_bottom %}{% endblock %}
