---
title: Default Layout
is_layout: true
slug: default
---

%html{lang: "en"}
  %head
    {% include 'shared-head' %}

    {% block assets %}
    {% include 'asset' with type: 'bootstrap', version: '4.3.1' bootswatch_theme: nil %}
    {{ 'main/app' | stylesheet_tag }}
    {{ 'main/app' | javascript_tag }}
    {% endblock %}

    {% block icons %}
    {% include 'icons' with type: 'font-awesome-5' %}
    {% endblock %}

    {% block head %}{% endblock %}

  %body(class="page-top d-flex flex-column {{ page.handle }} {{ body_class }}")
    {% block body-top %}{% endblock %}

    {% block loader %}
    {% include 'loader' %}
    {% endblock %}

    {% block left-sidebar %}
    {% include 'left-sidebar' %}
    {% endblock %}

    {% block right-sidebar %}
    {% include 'right-sidebar' %}
    {% endblock %}

    {% block top-nav %}
    {% include 'top-nav' %}
    {% endblock %}

    #page-content.flex-shrink-0
      {% block flash-notice %}
      {% include 'flash-notice' %}
      {% endblock %}

      {% block main %}{% endblock %}
    
    {% block footer %}
    {% include 'footer' %}
    {% endblock %}

    {% block bottom-nav %}
    {% include 'bottom-nav' %}
    {% endblock %}

    {% block body-bottom %}{% endblock %}
