---
title: Fresh
is_layout: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include shared_head %}

    {% include 'css-framework' with type: 'bootstrap', version: '4.3.1' bootswatch_theme: nil %}

    {{ 'fresh/app.css' | stylesheet_tag }}
    {{ 'fresh/app.js' | javascript_tag }}

    {% include 'icons' with type: 'simple-line-icons' %}
    {% include 'icons' with type: 'feather' %}
  </head>
  <body>
    {% include 'fresh-preloader' %}

    {% block 'main' %}{% endblock %}

    {% include 'fresh-modal' %}
    {% section 'fresh-footer', placement: 'bottom' %}
    {% include 'fresh-backtotop' %}
    {% include 'fresh-sidebar' %}
  </body>
</html>
