---
title: Pluton Layout
is_layout: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'shared-head' %}

  {% include 'css-framework' with type: 'bootstrap', version: '2.3.1', bootswatch_theme: nil %}

  {{ 'pluton/app' | stylesheet_tag }}
  {{ 'pluton/app' | javascript_tag }}

  {% unless wagon %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?callback=initializeMap" async defer></script>
  {% endunless %}
</head>
<body>
  {% include 'back-button' %}

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand">
          <img src="{{ 'pluton/logo.png' | theme_image_url }}" width="120" height="40" alt="Logo" />
        </a>
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-menu"></i></button>
        <div class="nav-collapse collapse pull-right">
          <ul class="nav" id="top-navigation">
            <li class="active" id="home_lnk" style="display:none">
              <a href="#home">Home</a>
            </li>
            <li id="service_lnk" style="display:none">
              <a href="#service">Services</a>
            </li>
            <li id="portfolio_lnk" style="display:none">
              <a href="#portfolio">Portfolio</a>
            </li>
            <li id="about_lnk" style="display:none">
              <a href="#about">About</a>
            </li>
            <li id="clients_lnk" style="display:none">
              <a href="#clients">Clients</a>
            </li>
            <li id="price_lnk" style="display:none">
              <a href="#price">Price</a>
            </li>
            <li id="contact_lnk" style="display:none">
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% block 'main' %}
  {% endblock %}

  <div class="footer">
    <p>&copy; {{ now | date: '%Y' }} Your Company Name</p>
  </div>
  <div class="scrollup">
    <a href="#"><i class="icon-up-open"></i></a>
  </div>
</body>
</html>
