/* Tilde (~) actually refers to "../../../node_modules/" */

@import "~bootswatch/dist/cosmo/variables";

@import "~bootstrap/scss/bootstrap";

@import "~bootswatch/dist/cosmo/bootswatch";

@import '~chosen-js/chosen.css';
@import '~chosen-bootstrap-theme/dist/chosen-bootstrap-theme.css';

html, body{
  height: 100%;
}

body {
  margin-top: 55px;
}

body.full-page-image-background {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#page-content{
  flex: 1 0 auto;
}

.sticky-footer{
  flex-shrink: 0;
}
