/*
@import '~chosen-js/chosen.css';
@import '~chosen-bootstrap-theme/dist/chosen-bootstrap-theme.css';
*/

$top_navbar_height: 55px;

html, body{
  height: 100%; // required for sticky footer
}

footer{
  margin-top: auto; // required for sticky footer, https://getbootstrap.com/docs/4.3/examples/sticky-footer-navbar/
}

.full-height{
  height: calc(100vh - #{$top_navbar_height});
}

#page-content{
  margin-top: $top_navbar_height;
}

.blue-gradient{
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
