---
title: Forgot password
handle: forgot_password
---
{% extends layouts/unauthenticated %}

{% block main %}
  {% if auth_reset_password_instructions_sent %}
    The instructions for changing your password have been emailed to you.
  {% else %}
    <form action="{% path_to 'forgot_password' %}" method="POST">
      <input type="hidden" name="auth_action" value="forgot_password" />
      <input type="hidden" name="auth_content_type" value="accounts" />
      <input type="hidden" name="auth_id_field" value="email" />
      <input type="hidden" name="auth_id_password" value="password" />
      <input type="hidden" name="auth_reset_password_url" value="{{ base_url }}{% path_to reset_password %}" />
      <input type="hidden" name="auth_email_handle" value="reset_password_instructions" />

      {% if auth_wrong_email %}Wrong email!{% endif %}

                  <label for="auth-email">Your E-mail</label>
                  <input type="email" id="auth-email" placeholder="Email" name="auth_id" value="{{ params.auth_id }}">
     
      <button type="submit">Submit</button>
    </form>
  {% endif %}
{% endblock %}
