.text-underline {
  text-decoration: underline !important;
}

svg text {
  text-anchor: middle;
}

.flex-center-all {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.flex-center-y {
  display: inline-flex !important;
  align-items: center !important;
}

.flex-center-x {
  display: inline-flex !important;
  justify-content: center !important;
}

