/*
@import '~chosen-js/chosen.css';
@import '~chosen-bootstrap-theme/dist/chosen-bootstrap-theme.css';
*/

html,
body {
  height: 100%;
}

body.has-sticky-footer {
  display: flex;
  flex-direction: column;
}

body.has-sticky-footer #page-content {
  flex-shrink: 0;
  margin-top: 55px;
}

body.has-sticky-footer footer {
  margin-top: auto;
}

.blue-gradient {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.full-height {
  height: calc(100vh - 55px);
}

