/*
@import '~chosen-js/chosen.css';
@import '~chosen-bootstrap-theme/dist/chosen-bootstrap-theme.css';
*/

html,
body {
  height: 100%;
}

footer {
  margin-top: auto;
}

.full-height {
  height: calc(100vh - 55px);
}

#page-content {
  margin-top: 55px;
}

.blue-gradient {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

