---
title: Bootstrap Album
is_layout: true
slug: bootstrap_album
---
{% extends layouts/default %}

{% block head %}
:css
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  .jumbotron p:last-child {
    margin-bottom: 0;
  }

  .jumbotron-heading {
    font-weight: 300;
  }

  .jumbotron .container {
    max-width: 40rem;
  }

  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  footer p {
    margin-bottom: .25rem;
  }
{% endblock %}

{% block main %}
%section.jumbotron.text-center
  .container
    %h1.jumbotron-heading Album example

    %p.lead.text-muted Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.

    %p
      %a.btn.btn-primary.my-2{:href => "#"} Main call to action
      %a.btn.btn-secondary.my-2{:href => "#"} Secondary action

.album.py-5.bg-light
  .container
    .row
      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "225", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{:fill => "#55595c", :height => "100%", :width => "100%"}
            %text{:dy => ".3em", :fill => "#eceeef", :x => "50%", :y => "50%"} Thumbnail
          .card-body
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
              %small.text-muted 9 mins

      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "225", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{:fill => "#55595c", :height => "100%", :width => "100%"}
            %text{:dy => ".3em", :fill => "#eceeef", :x => "50%", :y => "50%"} Thumbnail
          .card-body
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
              %small.text-muted 9 mins

      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "225", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{:fill => "#55595c", :height => "100%", :width => "100%"}
            %text{:dy => ".3em", :fill => "#eceeef", :x => "50%", :y => "50%"} Thumbnail
          .card-body
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
              %small.text-muted 9 mins

      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "225", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{:fill => "#55595c", :height => "100%", :width => "100%"}
            %text{:dy => ".3em", :fill => "#eceeef", :x => "50%", :y => "50%"} Thumbnail
          .card-body
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
              %small.text-muted 9 mins

      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "225", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{:fill => "#55595c", :height => "100%", :width => "100%"}
            %text{:dy => ".3em", :fill => "#eceeef", :x => "50%", :y => "50%"} Thumbnail
          .card-body
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
              %small.text-muted 9 mins

      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "225", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{:fill => "#55595c", :height => "100%", :width => "100%"}
            %text{:dy => ".3em", :fill => "#eceeef", :x => "50%", :y => "50%"} Thumbnail
          .card-body
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
              %small.text-muted 9 mins

      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "225", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{:fill => "#55595c", :height => "100%", :width => "100%"}
            %text{:dy => ".3em", :fill => "#eceeef", :x => "50%", :y => "50%"} Thumbnail
          .card-body
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
              %small.text-muted 9 mins

      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "225", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{:fill => "#55595c", :height => "100%", :width => "100%"}
            %text{:dy => ".3em", :fill => "#eceeef", :x => "50%", :y => "50%"} Thumbnail
          .card-body
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
              %small.text-muted 9 mins

      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "225", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{:fill => "#55595c", :height => "100%", :width => "100%"}
            %text{:dy => ".3em", :fill => "#eceeef", :x => "50%", :y => "50%"} Thumbnail
          .card-body
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
              %small.text-muted 9 mins
{% endblock %}
