---
title: Bootstrap One Column Portfolio
is_layout: true
slug: bootstrap_one_column_portfolio
---
{% extends layouts/default %}

{% block main %}
.container
  %h1.my-4
    Page Heading
    %small Secondary Text

  .row
    .col-md-7
      %a{:href => "#"}
        %img.img-fluid.rounded.mb-3.mb-md-0{:alt => "", :src => "http://placehold.it/700x300"}/
    .col-md-5
      %h3 Project One
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
      %a.btn.btn-primary{:href => "#"} View Project

  %hr/

  .row
    .col-md-7
      %a{:href => "#"}
        %img.img-fluid.rounded.mb-3.mb-md-0{:alt => "", :src => "http://placehold.it/700x300"}/
    .col-md-5
      %h3 Project Two
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.
      %a.btn.btn-primary{:href => "#"} View Project

  %hr/

  .row
    .col-md-7
      %a{:href => "#"}
        %img.img-fluid.rounded.mb-3.mb-md-0{:alt => "", :src => "http://placehold.it/700x300"}/
    .col-md-5
      %h3 Project Three
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!
      %a.btn.btn-primary{:href => "#"} View Project

  %hr/

  .row
    .col-md-7
      %a{:href => "#"}
        %img.img-fluid.rounded.mb-3.mb-md-0{:alt => "", :src => "http://placehold.it/700x300"}/
    .col-md-5
      %h3 Project Four
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?
      %a.btn.btn-primary{:href => "#"} View Project

  %hr/

  %ul.pagination.justify-content-center
    %li.page-item
      %a.page-link{"aria-label" => "Previous", :href => "#"}
        %span{"aria-hidden" => "true"} «
        %span.sr-only Previous
    %li.page-item
      %a.page-link{:href => "#"} 1
    %li.page-item
      %a.page-link{:href => "#"} 2
    %li.page-item
      %a.page-link{:href => "#"} 3
    %li.page-item
      %a.page-link{"aria-label" => "Next", :href => "#"}
        %span{"aria-hidden" => "true"} »
        %span.sr-only Next
{% endblock %}
