---
title: Bootstrap Full Page Image Background
is_layout: true
slug: bootstrap_full_page_image_background
---
{% extends layouts/default %}

{% assign body_class = 'full-page-background-image' %}

{% block main %}
.container
  .card.border-0.shadow.my-5
    .card-body.p-5
      %h1.font-weight-light Fixed Full Page Background Image
      %p.lead In this snippet, the background image is fixed to the body element. Content on the page will scroll, but the image will remain in a fixed position!
      %p.lead Scroll down...
      %div{:style => "height: 700px"}
      %p.lead.mb-0 You've reached the end!
{% endblock %}
