---
title: Bootstrap Three Column Portfolio
is_layout: true
slug: bootstrap_three_column_portfolio
---
{% extends layouts/default %}

{% block main %}
.container
  %h1.my-4
    Page Heading
    %small Secondary Text
  
  .row
    .col-lg-4.col-sm-6.mb-4
      .card.h-100
        %a{:href => "#"}
          %img.card-img-top{:alt => "", :src => "http://placehold.it/700x400"}/
        .card-body
          %h4.card-title
            %a{:href => "#"} Project One
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
    
    .col-lg-4.col-sm-6.mb-4
      .card.h-100
        %a{:href => "#"}
          %img.card-img-top{:alt => "", :src => "http://placehold.it/700x400"}/
        .card-body
          %h4.card-title
            %a{:href => "#"} Project Two
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    
    .col-lg-4.col-sm-6.mb-4
      .card.h-100
        %a{:href => "#"}
          %img.card-img-top{:alt => "", :src => "http://placehold.it/700x400"}/
        .card-body
          %h4.card-title
            %a{:href => "#"} Project Three
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!
    
    .col-lg-4.col-sm-6.mb-4
      .card.h-100
        %a{:href => "#"}
          %img.card-img-top{:alt => "", :src => "http://placehold.it/700x400"}/
        .card-body
          %h4.card-title
            %a{:href => "#"} Project Four
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    
    .col-lg-4.col-sm-6.mb-4
      .card.h-100
        %a{:href => "#"}
          %img.card-img-top{:alt => "", :src => "http://placehold.it/700x400"}/
        .card-body
          %h4.card-title
            %a{:href => "#"} Project Five
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    
    .col-lg-4.col-sm-6.mb-4
      .card.h-100
        %a{:href => "#"}
          %img.card-img-top{:alt => "", :src => "http://placehold.it/700x400"}/
        .card-body
          %h4.card-title
            %a{:href => "#"} Project Six
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.
  
  %ul.pagination.justify-content-center
    %li.page-item
      %a.page-link{"aria-label" => "Previous", :href => "#"}
        %span{"aria-hidden" => "true"} «
        %span.sr-only Previous
    %li.page-item
      %a.page-link{:href => "#"} 1
    %li.page-item
      %a.page-link{:href => "#"} 2
    %li.page-item
      %a.page-link{:href => "#"} 3
    %li.page-item
      %a.page-link{"aria-label" => "Next", :href => "#"}
        %span{"aria-hidden" => "true"} »
        %span.sr-only Next
{% endblock %}
