---
title: Two Columns
is_layout: true # Add to page layout selection in admin
slug: two_column
---
{% extends layouts/default %}

{% block main %}
.left-column
  {% block left_column %}
  {% editable_text content %}Lorem ipsum{% endeditable_text %}
  {% endblock %}

.right-column
  {% block right_column %}
  {% editable_text content %}Lorem ipsum{% endeditable_text %}    
  {% endblock %}
{% endblock %}
